/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. 
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}
    --plum: #1c2d3d;
*/
:root {
    --black: #030C26;
    --dkblue: #077F8C;
    --plum: #26A6A6;
    --hotmag: #61bac4;
    --magenta: #04BF68;
    --aqua: #0DF205;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}
/**/

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1, h2, h3, h4 {
  margin: 0;
}

a {
  color: var(--magenta);
}
a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

img {
    width: 100%;
}

/* background styles */
.section-plum {
    background-color: var(--plum);
}

.section-blue {
    background-color: var(--dkblue);
}

.gradient {
  /*
    background: rgb(255,23,228);
    background: linear-gradient(90deg, rgba(255,23,228,1) 0%, rgba(134,251,251,1) 100%); 
    */
    background: rgb(13,242,5);
    background: linear-gradient(90deg, rgba(13,242,5,1) 22%, rgba(39,65,140,1) 74%);
    height: 2px;
}

/* nav bar */

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 1rem;

    font-family: var(--mono);
    font-size: 80%;
  }
  
  nav h1 {
    font-family: var(--sans);
  }
  
  #nav-list {
    padding: 0;
    margin: 0;
    
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav li:first-child {
    flex-basis: 100%;
    text-align: center;
  }
  
  nav [class*="fa-"] {
    font-size: 150%;
    color: var(--aqua);
  }
  
  nav h1 [class*="fa-"] {
    font-size: 100%;
  }
  
  nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
  }
  nav a:hover,
  nav [class*="fa-"]:hover{
    color: var(--magenta);
  }

/* intro styles*/

#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
#intro p {
  font-size: 1rem;
  line-height: 1.5;
}
#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
}

#intro h2 {
  font-size: 4rem;
}

/* projects section */
#projects {
    padding: 4rem 1rem 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
  
#projects h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
    color: var(--aqua);
}

#projects h4 {
    margin: 0;
    font-size: 1rem;
    font-family: var(--mono);
}

.blackbox {
    padding: 1rem;
    background-color: var(--black);
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px;
    text-align: left;
}

#projects ul {
    padding: 0;
    margin: 0;

    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}

#projects img {
    margin: 2rem 0 4rem 0;
    padding: 1rem;

    border-left: 1px solid var(--aqua);
    border-top: 1px solid var(--aqua);
    border-radius: 25px;
}

/* contact styles */

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

#contact h2 {
  font-size: 2rem;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact label {
    margin-top: 1rem;
    text-align: left;
}

#contact textarea {
    height: 100px;
    border-radius: 5px;
}

#contact input[type="text"]{
    border-radius: 5px;
}

#contact input[type="submit"] {
    margin-top: 1rem;
    border: none;
    width: 25%;
    text-align: center;
    font-size: 1.5rem;
}

#contact .submit {
    margin-top: 1rem;
    align-text: center;
}

#contact p:last-child {
  margin-top: 3rem;
}

.button {
  background-color: var(--magenta);
  padding: 0.5rem;
  border-radius: 5px;
  border: var(--dkblue) solid 1px;

  color: black; /*var(--white);*/
  font-family: var(--mono);
  text-decoration: none;
}
.button:hover {
  color: var(--white);
  background-color: var(--hotmag);
}

/* footer */
footer {
  margin: 0 auto;
  padding: 4rem 0;

  text-align: center;
}

footer ul {
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  
  font-size: 3rem;
  list-style-type: none;
}

@media (min-width: 550px) {
    article {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 1rem;
    }
    #projects img {
      grid-column: 1/6;
      grid-row: 1/2;
    }
    #projects .reverse img {
        grid-column: 6/11;
        grid-row: 1/2;
    }

    .text {
      order: 2;
      text-align: right;
      grid-column: 5/11;
      grid-row: 1/2;
    }
    .reverse .text {
        order: 1;
        text-align: left;
        grid-column: 1/7;
        grid-row: 1/2;
    }

    #projects ul {
      justify-content: flex-end;
    }
    #projects .reverse ul {
        justify-content: flex-start;
    }
}

@media (min-width: 850px) {
  nav {
    mad-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}